body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/*reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;

}


.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.nav {
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.list :last-child {
    margin-right: 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.logo-header {
    margin-right: 76px;
    display: inline-block;
}

.logo-span {
    color: #2e2f42;

}

.list-item-link {

    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .list-item-link:hover,
.list .list-item-link:focus {
    color: #404bbf;
}

.list-item-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
    font-style: normal;
    margin-left: auto;
}

.address-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-right: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link :last-child {
    margin-right: 0;
}

.list .address-list-link:hover,
.list .address-list-link:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;


}

.section-one-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    color: #ffffff;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;

}


.button {
    background-color: #4D5AE5;
    display: block;
    margin: auto;
    align-items: flex-start;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 32px;
    border: 4px;
    border-radius: 4px;
    gap: 10px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button:hover,
.button:focus {
    background-color: #404BBF;
}

.section-two-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


.advantages-wrapper {
    border-radius: 4px;
    border: 1px solid #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd
}

.section-two-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-three {
    background-color: #F4F4FD;
}

.section-three-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.employe-container {
    padding: 32px 0;
}

.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;

}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;

}

.team-list {
    background-color: #FFFFFF;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    width: 264px;
    letter-spacing: 0.02em;
    color: #2e2f42;

    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.social-icon {
    fill: currentColor;
}

.social-link:hover .social-icon {}

.section-four-heading {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;


}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    background: #4D5AE5;
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
    transform: translateY(0%);
}


.portfolio-item {
    list-style: none;
    flex-direction: column;
    width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-discr {
    padding: 32px 16px;
}




.portfolio-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}



.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 76px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-title {
    margin-right: 120px;
}

.logo {
    display: inline-block;
    margin-bottom: 16px;
}


.logo-span-footer {
    color: #f4f4fd;
    display: inline-block;
    margin-bottom: 17.5px;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}

.footer-social {}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;

}

.footer-social-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: #f4f4fd;
}

.header-container {
    display: flex;
    align-items: center;
}



.list-advantages {
    display: flex;
    gap: 24px;
}

.list-advantages-item {
    width: 264px;
    justify-content: center;
}

.list-team {
    display: flex;
    gap: 24px;
}